.homepage {
	display: flex;
	justify-content: center;

	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;

	background-color: #4D72A9;
}
.about {
	display: flex;
	justify-content: center;

	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;

	background-color: #DEEFF6;
}
.hobby {
	display: flex;
	justify-content: center;

	position: absolute;
	width: 100vw;
	height: 200vh;
	left: 0px;
	top: 0px;

	background-color: #1B0042;
}
.photos {
	display: flex;
	justify-content: center;

	position: absolute;
	width: 100vw;
	height: 140vh;
	left: 0px;
	top: 0px;

	background-color: #1B223B;
}
.gaming {
	display: flex;
	justify-content: center;

	position: absolute;
	width: 100vw;
	height: 120vh;
	left: 0px;
	top: 0px;

	background-color: #B7646D;
}
.favorite {
	display: flex;
	justify-content: center;

	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;

	background-color: #EC8179;
}
.story {
	display: flex;
	justify-content: center;

	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;

	background-color: #3C4B61;
}
.contact {
	display: flex;
	justify-content: center;

	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;

	background-color: #111111;
}
.navbar {
	position: absolute;
	overflow: hidden;
	margin-bottom: -18px;
	bottom: 0;
	width: 100%;
	z-index: 3;
	
	font-family: Piko;
	font-size: 48px;
	line-height: 52px;
	text-align: center;

	color: #FFFFFF;
}
.sectionbar {
	overflow: hidden;
	margin-top: -30px;
	width: 100%;
	z-index: 3;
	
	font-family: Piko;
	font-size: 35px;
	line-height: 52px;

	color: #FFFFFF;
}
.nav_photo{
	position: fixed;
	margin-top: -1px;
	top: 0px;
	width: 100%;
	z-index: 3;

	font-size: 60px;
	line-height: 78px;
	text-align: left;
	background: #121628;
}
.nav_gaming {
	position: fixed;
	margin-top: -1px;
	top: 0px;
	width: 100%;
	z-index: 3;

	font-size: 60px;
	line-height: 78px;
	text-align: right;
	background: #904E55;
}
.brown_shape {
	z-index: 0;
	position: absolute;
	width: 312px;
	height: 100%;
	right: 0;
	top: 0px;

	background: #5E466F;
}
.favbox {
	position: absolute;
	margin-top: -10px;
	width: 1000px;
	height: 388px;
	z-index: 3;
}
.hobbybox {
	display: flex;
	align-self: flex-end;
	width: 100%;
	height: 89%;
	z-index: 2;
}
.hob_text1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin-top: 11em;
	margin-bottom: 60px;
	padding-left: 125px;
	width: 13em;
	z-index: 3;

	font-family: Piko;
	font-size: 45px;
	color: #FFFFFF;
}
.hob_text2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	margin-top: 85px;
	margin-bottom: 50px;
	padding-left: 7em;
	z-index: 3;

	font-family: Piko;
	font-size: 45px;
	color: #FFFFFF;
}
.contact_png {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 170px;
	margin-bottom: 170px;
	margin-left: 45em;
	margin-right: 0px;
	width: 90px;
	z-index: 3;
}
.cont_text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 3;

	margin-top: 150px;
	margin-bottom: 150px;
	margin-left: 50px;
	margin-right: 0px;
	padding-top: 60px;
	padding-bottom: 5px;
	width: 500px;

	font-family: Piko;
	color: #FFFFFF;
}
.text {
	
	font-size: 36px;
	width: 210px;
}
.text2 {
	font-size: 45px;
	width: 330px;
}
.text3 {
	font-size: 45px;
	width: 140px;
}
.picts {
	display: flex;
	justify-content: center;
	position: absolute;
	height: auto;
	z-index: 2;
}
.contact_png img {
	position: absolute;
	width: 45px;
	height: 45px;
}
.img_box {
	z-index: 2;
	width: 34%;
	height: 400px;
}
.img_profile {
	z-index: 2;
	width: 176px;
	height: 176px;
}
.img_about {
	width: 75%;
	height: 550px;
}
.img_hobby {
	position: absolute;
	width: 70%;
	height: 50%;
	top: 0;
}
.img_hobby2 {
	position: absolute;
	width: 70%;
	height: 50%;
	bottom: 0;
}
.img_photo {
	position: absolute;
	width: 80%;
	height: 123vh;
	top: 98px;
}
.img_gaming {
	position: absolute;
	width: 70%;
	height: 100vh;
}
.img_fav {
	position: absolute;
	object-fit: cover;

	width: 960px;
	height: 100%;
}
.img_story {
	position: fixed;
	width: 40%;
	height: 100%;
	left: 0px;
	top: 0px;
}
.img_contact {
	display: flex;
	align-items: center;
	position: absolute;
	height: 70%;
	left: 0px;
	margin-top: 70px;
}
.homebtn {
	z-index: 5;
	margin-left: -16px;
	bottom: 15px;
	width: 32px;
	height: 32px;
}
header {
	position: absolute;
	margin-top: -12px;
	top: 60px;
	z-index: 3;

	font-family: Piko;
	font-size: 36px;
	line-height: 39px;
	text-align: center;

	color: #FFFFFF;
}
footer {
	display: flex;
	justify-content: center;
	align-self: flex-end;
	position: absolute;
}
div {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 90px;
}
img {
	display: flex;
	align-self: center;
	z-index: 1;

	position: absolute;
	width: 55%;
	height: 500px;
}
svg {
	position: absolute;
	z-index: 2;
	width: 100vw;
	height: 100vh;

	background: rgba(0, 0, 0, 0.5);
}
h1 {
	display: flex;
	justify-content: center;
	align-self: center;
	position: absolute;
	margin-top: -15px;
	z-index: 3;

	font-family: Bring Heart;
	font-weight: normal;
	font-size: 80px;
	line-height: 100px;
	text-align: center;

	color: #FFFFFF;
	text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.85);
}
h2 {
	margin-top: -6px;
	font-family: Bring Heart;
	font-weight: normal;
	font-size: 80px;

	color: #FFFFFF;
	text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.85);
}
p {
	position: absolute;
	margin-left: 60px;
	top: 182px;
	z-index: 3;

	font-family: Piko;
	font-size: 40px;
	line-height: 43px;
	text-align: justify;

	color: #FFFFFF;
}
h3 {
	position: absolute;
	margin-left: 95px;
	top: 300px;
	z-index: 3;

	font-family: Piko;
	font-weight: normal;
	font-size: 64px;
	line-height: 69px;
	text-align: justify;

	color: #FFFFFF;
}
ul{
	display: flex;
	justify-content: space-around;
	padding-inline-start: 0px;
}
li {
	display: flex;
	justify-content: space-around;
	margin-top: -25px;
	padding-inline-start: 0px;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}
q {
	position: absolute;
	width: 5em;
	left: -125px;
	bottom: 100px;
	z-index: 3;

	font-family: Piko;
	font-size: 54px;
}